@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.hamburger-active > span:nth-child(1) {
  @apply origin-top-left rotate-45;
} 

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply origin-bottom-left -rotate-45;
}

.navbar-fixed {
  @apply z-[9999] bg-white bg-opacity-80;
  backdrop-filter: blur(5px);
}
